
{% extends 'base.html' %}

{% block container %}
    {% for key, value in departures.items() %}
    {% if '/departures/' + key == request.path %}
    <h1 class="display-5 mt-4">{{ value }}</h1>
    <p class="mb-4">Найдено 16 туров, от 39000 до 84 600 и от 4 ночей до 15 ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for tour_keys, tour_values in tours.items() %}
            {% if '/departures/' + tour_values.departure == request.path %}
      <div class="col-4">
        <div class="card mb-4">
          <img src={{ tour_values.picture }} class="card-img-top" alt="" width="300" height="200">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour_values.title }}</h2>
            <p class="card-text">{{ tour_values.description|truncate(200) }}</p>
            <a href="/tours/{{ tour_keys }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
            {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}